body {
    background: $c-background;
}

button {
    background: none;
    border: none;
    display: inline-block;

    &:focus {
        outline: none;
    }
}

input {
    border: none;
    background: none;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}