@font-face {
    font-family: 'Schoolbook';
    src: url('../assets/fonts/AGSchoolbook-Medium.otf');
}

@font-face {
    font-family: 'Franklin';
    src: url('../assets/fonts/FranklinGothicStd-Condensed.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Franklin--light';
    src: url('../assets/fonts/FranklinGotItcTEEBooCon.ttf');
    font-weight: normal;
}